<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moum.project.dao.CollectionDao">

  <resultMap id="CollectionMap" type="collection">
    <id column="collection_id" property="no"/>
    <result column="user_id" property="userNo"/>
    <result column="subcategory_id" property="subcategoryNo"/>
    <result column="name" property="name"/>
    <result column="status_id" property="statusNo"/>
    <result column="purchase_date" property="purchaseDate"/>
    <result column="purchase_place" property="purchasePlace"/>
    <result column="price" property="price"/>
    <result column="storage_location" property="storageLocation"/>
    <result column="post_date" property="postDate"/>
  </resultMap>

  <insert id="insert">

  </insert>

  <select id="list">

  </select>

  <select id="findBy">

  </select>

  <update id="update">

  </update>

  <delete id="delete">

  </delete>
</mapper>
